<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= process.env.npm_package_productName %></title>
    <script>
        <% if (htmlWebpackPlugin.options.nodeModules) { %>
        require('module').globalPaths.push(
            '<%= htmlWebpackPlugin.options.nodeModules %>'.replace(/\\/g, '\\\\'),
            )
        <% } %>
        require('source-map-support/source-map-support.js').install()
    </script>
</head>
<body>
    
</body>
</html>